/*
style.css
Kevin Ehrichs
CS290 - Project-PersonalSite main CSS file
13 May 2018
*/
/*****************main template******************************/
body {
  background-color: white;
}

h3.info{
    position: relative;
    padding-left: 25px;
    width: 75%;
  }

form.tableForm{
  position: relative;
  padding-left: 25px;
}

table{
  position: relative;
  padding-left: 25px;
}

li a:hover{
  background-color: #512
}

div.text_Container{
  text-align: center;
  background-color: white;
  border: 3px solid blue;
  border-radius: 40px 40px 40px 0px;
  width: 700px;
  margin: 0 auto;
}

h1.page_Header{
  text-align: center;
  font-weight: 900;
  margin: 0 auto;
  border-radius: 75px;
  background: #53BD29;
  width: 550px;
  height: 50px;
}

ul.horizontal_Menu {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.menu_Item {
  float: left;
  font-weight: 500;
}

li.menu_Info{
  float:right;
  color: white;
}

a.menu_Link{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/*****************end main template**************************/
