
body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 10px;
  background-color: #eee;
  font-size: 12px;
}

a {
  text-decoration: none;
  margin: 2px;
}

button {
  margin: 2px;
}

div {
  display: block;
}

#addConcert {
  margin: 0px;
}

input {
  margin: 1px;
}

select {
  margin: 1px;
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: #fff;
  font-size: 15px;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td {
  display: table-cell;
  vertical-align: inherit;
  /* border: 1px solid #ccc; */
  text-align: center;
  background-color:  #fff;
  padding: 5px;
}

h3 {
  font-size: 20px;
}

input[type=text], select {
  width: 30%;
  padding: 12px 12px;
  /* margin: 8px 0; */
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 25%px;
  background-color: rgb(87, 86, 86);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

li {
    font-size: 20px;
}
